@import "tailwindcss";

:root {
  --primary-dark: #00072d;
  --primary-light: #fff5e4;
  --secondary: #6A9C89;
  --accent-pink: #fc5f7c;
  --accent-green: #a9d9ac;


  /*
    00072D
    FFF5E4
    6A9C89
    FC5F7C
    C1D8C3
  */


  /* Primary Color: #5A67D8 (Soft Indigo)

Secondary Color: #F56565 (Muted Red)

Accent Color: #68D391 (Mint Green)

Background Color: #EDF2F7 (Light Gray)

Text Color: #2D3748 (Charcoal Gray)*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
